body{
  width: 100%;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  padding-top: 50px;
position: relative;
top: 100;
  margin-top: 0px;
  font-family: "Sacramento" ;
}
h2{
  color: #EB455F;
  font-family: "verdana", sans-serif;
}
h3{
  color: #277BC0;
  font-family: "verdana", sans-serif;
}

.title{
color: #DC3535;
background-color: #F5EBE0;
margin: 0 auto 0 auto;
width: 150px;
border-radius: 10%;
  font-family: "verdana"  sans-serif;
}
span{
  color: #497174;
}

 .top-container{
   position: relative;;
    background-color: #E4F9F5;
 }

 .middle-container{
   background-color: #E4F9F5;


 }

 .bottom-container{
   background-color: #E4F9F5;

 }
 .pro{
   text-decoration: underline;
 }
.mypic{
  height: 120px;
  width: 120px;
  padding: 20px;
  border-radius: 50%



}
.myskills{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.hwc{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.social{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  width: 30px;
}
.btn{
  font-family: "verdana";
  color: #251B37;
  background-color: #54BAB9;
}
